@charset "UTF-8";

body{
  margin:0;
}
header {
  border-bottom:1px solid gray;
  text-align: center;
  padding: 36px 0;


  a {
    margin: 8px 8px;

  }
  p{
    margin:8px 8px;
    display: inline;
  }
}

.a-lesson {
  all: unset;
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 16px;
  font-size: 12px;
  border: 1px solid black;
  background: lightblue;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: -2px 1px 4px;
  cursor: pointer;
}

.a-top {
  all: unset;
  display: inline-block;
  position: fixed;
  right: 8px;
  top: 16px;
  border: 1px solid black;
  background: lightpink;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

main{
  margin:8px;
}
table{
  border-collapse: collapse;
}

th{
  border:1px solid gray;
}

td{
  border:1px solid gray;
}

.div{
  color:green;
}

.box{
  color:blue;
}

td > label{
  color:red;
}
